<div class="sidebar-container">
  <h2>Buscar por</h2>
  <hr class="mb-3">

  <ul class="list-group">
    <li routerLink="countries/by-capital"
        routerLinkActive="active"
        class="list-group-item d-flex align-items-center">
      <i class="bi bi-building me-2"></i> <strong>Capital</strong>
    </li>

    <li routerLink="countries/by-country"
        routerLinkActive="active"
        class="list-group-item d-flex align-items-center">
      <i class="bi bi-flag me-2"></i> <strong>País</strong>
    </li>

    <li routerLink="countries/by-region"
        routerLinkActive="active"
        class="list-group-item d-flex align-items-center">
      <i class="bi bi-globe me-2"></i> <strong>Continente</strong>
    </li>
  </ul>
</div>
