.table-container {
  max-height: 70vh;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.table-container table {
  margin-bottom: 0;
}

.table-container thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

img {
  width: 25px;
}
